:global
  *, *::before, *::after
    list-style none
    margin 0
    padding 0
    text-decoration none
    box-sizing auto
  body
    position relative
    // min-height 1600px

  a
    color inherit
    &:active
    color #ff0000
    &:visited
      color inherit
    &:hover
      color inherit
  body
    min-width 1300px
    overflow-x hidden
    background #EBECEC
    background-color #EBECEC
    font-family '微软雅黑, Arial'

  .bg-b
    background #342e2c

  .bg-gray
    background #B7B9BE

  .bg-fff
    background #fff

  .c-b
    color #342e2c

  .c-fff
    color #fff

  .c-reg
    color #45403f

  .c-gray
    color #676767

  .c-pale
    color #b7b9be

  .c-yellow
    color #ffbf13

  .c-blue
    color rgb(24, 144, 255) !important

  .center
    margin auto

  .w-1300
    width 1300px

  .pointer
    cursor pointer

  .relative
    position relative
  .abs
    position absolute
    &.abs-center
      left 0
      right 0
      top 0
      bottom 0
      margin auto

  .flex
    display flex
    &.space-between
      justify-content space-between
    &.space-around
      justify-content space-around

  .inline-block
    display inline-block
    vertical-align top
  .table
    display table
  .ov-hidden
    overflow hidden

  .ovx-hidden
    overflow-x hidden

  .mt-20
    margin-top 20px
  .mt-10
    margin-top 10px
  .mt-40
    margin-top 40px

  .ml-10
    margin-left 10px

  .mr-10
    margin-right 10px

  .pd-v-20
    padding 0 20px

  .pt-20
    padding-top 20px
  .pt-40
    padding-top 40px

  .oneline
    white-space nowrap
    text-overflow ellipsis
    overflow hidden

  .line-top
    border-top 10px solid #EBECEC

  .border
    border 1px solid #EBECEC

  .fz-12
    font-size 12px
  .fz-14
    font-size 14px
  .fz-18
    font-size 18px
  .fz-20
    font-size 20px

  .lh-18
    line-height 18px
  .lh-20
    line-height 18px
  .lh-24
    line-height 18px

  .ti-10
    text-indent 10px

  #components-table-demo-resizable-column .react-resizable 
    position: relative
    background-clip: padding-box


  #components-table-demo-resizable-column .react-resizable-handle 
    position: absolute
    width: 10px
    height: 100%
    bottom: 0
    right: -5px
    cursor: col-resize
    z-index: 1

  .form-space
    margin 0 80px 0 46px
