.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100% !important;
}

.el-date-editor{
  width: 100% !important;
}

.el-picker-panel__link-btn {
  vertical-align: baseline;
}

.el-submenu .el-menu {
  background-color: inherit;
}

.el-breadcrumb__item__inner, .el-breadcrumb__item__inner a {
  transition: color .15s linear;
  color:#97a8be;
}
.el-breadcrumb__item:last-child .el-breadcrumb__item__inner, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover {
  color: #48576a;
  cursor: text;
}